<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            background-color: red;

        }
        .maindiv .text {
            color:white
        }
        #heading {background-color: blue;}
        

        



    </style>
</head>

<body>
    <div class="maindiv">
        <h1 id="head">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur veniam dolor libero! Odio, aspernatur
            aliquid deleniti, explicabo quos minus, aut recusandae eius minima officia inventore asperiores? Optio
            dolores excepturi commodi!</h1>

            <h1>Lorem ipsum dolor sit </h1>

            <b class="text">helloo</b>

            <p class="text">text</p>

        
    </div>

<div class="maindiv">
    <marquee class="text" behavior="" direction="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, optio.</marquee>
</div>

<div >


</div>

    <h1 id="heading">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur veniam dolor libero! Odio, aspernatur aliquid
        deleniti, explicabo quos minus, aut recusandae eius minima officia inventore asperiores? Optio dolores excepturi
        commodi!</h1>

</body>

</html>