<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h1 {
            border: 1px solid;
            /* padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 10px;
                padding-right: 30px; */

            /* padding: 10px 50px 20px 80px; */

            /* padding: 50px 200px; */

            padding: 20px;

            margin-top: 50px;
            margin-bottom: 50px;
            background-color: greenyellow;
            color: brown;
        }
    </style>

</head>

<body>
    <h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quaerat ipsam enim qui aliquid ea nam dolorem
        illo atque exercitationem nisi inventore quasi magnam impedit voluptate obcaecati, rerum neque earum?
    </h1>
    <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, odio maxime nihil inventore suscipit quae
        voluptates ratione asperiores magnam quam neque vero vel placeat temporibus molestiae sint a culpa aliquid.
    </h2>
</body>

</html>